<html>
{% load static %}
  <body>
    <a href="{% url 'about' %}">
    {% block title %}H E L L O {{ your_name }}{% endblock %}
    </a>
    {% block content %}
        <h1>
      <form action='/homepage' method='POST'>
        {% csrf_token %}
        <label>What's your name?</label><br>
        <input type="text" name="your_name" required>
        <br>
        <input type="email" name="email">

        <input type="submit">
            </h1>
                {% endblock %}

      </form>
      <h2>

    </h2>

  </body>
</html>
